* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: linear-gradient(to bottom left, #1f3e61, #b43939e5);
}

body {
  background-color: #c0b3b38e;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

/* navbar*/
.container {
  display: block;
  background: var(--bg-color);
  max-width: 400px;
  margin: 100px auto 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  border: 10px solid;
  box-shadow: 0px 12px 20px rgba(25, 25, 25, 22);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.order-list {
  display: flex;
  justify-content: space-around;
}

.title-list {
  text-transform: uppercase;
  color: #f7efef;
  font-weight: 600;
}

.loader {
  text-align: center;
  color: #f7efef;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

.boton-check{
  cursor: pointer;
}

.icon {
  color: white;
  border: none;
  padding: 1%;
  cursor: pointer;
}

button {
  background: #0000009a;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 1%;
  cursor: pointer;
}
button[type="add"] {
  padding: 10px; /* Ajusta el tamaño del botón */
  font-size: 25px; /* Ajusta el tamaño del icono */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Agrega una transición suave al cambiar el color de fondo */
}

h3,
label[for="new-task"] {
  color: #f7efef;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

input[type="text"]:focus {
  color: #020202;
}

label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  margin-bottom: 15px;
  width: 318px;
  border-radius: 12px;
  height: 21px;
}

li {
  overflow: hidden;
  padding: 20px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li > label {
  font-size: 15px;
  color: #f7efef;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
  font-weight: 900;
}

li > input[type="text"] {
  width: 226px;
}

#completed-tasks label {
  text-decoration: line-through;
  color: #f7efef;
}

ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}
